@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg-color: #08090b;
  --second-bg-color: #151716;
  --primary-text-color: #eceeee;
  --secondary-text-color: #7d7f7e;
  --emrald-color: #0c8b5e;
  --emrald-light: #18e299;
  --btn-background: #29212144;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: var(--main-bg-color);
  color: var(--primary-text-color);

  /* min-height: 100vh; */
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

header {
  /* background: rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(16px);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
}

nav {
  width: 66rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.menu-container {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.nav-cta-container {
  display: flex;
  gap: 10px;
}

.primary-cta {
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  outline: none;
}

.btn-1 {
  background: var(--btn-background);
  color: var(--primary-text-color);
}

.hero {
  /* height: 130vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 30px 0px;
  position: relative;
}

.hero-bg-image {
  height: 700px;
  background: url(./assets/bg-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: -10rem;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.hero-cta-link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--second-bg-color);
  border: none;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 24px;
  background: var(--btn-background);
  font-size: 14px;
  font-weight: 500;
}

.hero-cta-link span {
  background: var(--emrald-color);
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 14px;
}

.hero-cta-link svg {
  width: 16px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.hero-content h1 {
  width: 600px;
  font-size: 52px;
}

.hero-content p {
  width: 500px;
  font-size: 20px;
  font-weight: 500;
}

form {
  background: var(--btn-background);
  padding: 4px;
  border-radius: 32px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

form input {
  padding: 2px 8px;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
}

form button {
  padding: 10px 14px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.app-snapshot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin: 0;
  padding: 0;
}

.app-snapshot img {
  border-radius: 20px;
  box-shadow: 0px -1px 1px 0px var(--secondary-text-color);
  border: none;
  outline: none;
}

.trusted-by {
  padding: 60px 20px;
}

.companies {
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 60px;
  align-items: center;
  justify-items: center;
}

.company-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-card img {
  max-width: 140px;
  height: auto;
  opacity: 0.8;
}

.section-intro {
  color: var(--emrald-light);
  font-size: 11px;
  text-transform: uppercase;
  margin: 10px 0;
}

.feature-highlights {
  margin: 50px 0;
  margin-bottom: 120px;
}

.main-heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.main-desc {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
  margin: 24px 0;
}

.feature-description {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.feature-cards {
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 50px auto;
}

.feature-card {
  /* background: blue; */
  /* padding: 24px; */
  border: 1px solid var(--second-bg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}

.feature-content-div {
  padding: 24px;
}

.feature-img-div {
}

.feature-card-3 {
  grid-column: 1 / -1;
}

.feature-card img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -5px;
  /* margin-top: 5px; */
}

.feature-video-div {
  background: var(--main-bg-color);
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feature-video-div video {
  width: 100%;
  height: 400px;
  margin-right: -50px;
  margin-left: -20px;
  object-fit: cover;
  display: block;
}

.enterprise-features {
  width: 100%;
  background: var(--second-bg-color);
  padding-top: 100px;
  padding-bottom: 50px;

}

.enterprise-features-div {
  /* padding: 30px 0; */
  max-width: 1024px;
  margin: 0 auto;
}

.enterprise-features h3 {
  font-size: 36px;
  font-weight: 600;
}

.feature-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.feature-headings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feat-desc {
  color: var(--secondary-text-color);
}

.feature-cta button {
  padding: 12px 24px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.main-features {
  padding-top: 50px;
  display: flex;
  gap: 48px;
}

.feat-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}

.feat-details svg {
  width: 32px;
}

.feat-details h4 {
  font-size: 18px;
}

.feat-details p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.case-studies {
  width: 100%;
  padding: 80px 0;
  /* height: 100%; */
  background: var(--second-bg-color);
  
}

.customer-story-div {
  max-width: 1024px;
  margin: 80px auto;
  position: relative;
  /* z-index: -3; */
  background: var(--second-bg-color);
}

.image-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 150px;
    height: 100%;
}

.image-card img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  margin: 0 auto;
  /* z-index: -2; */
}

.top-section, .bottom-section {
  z-index: 2;
  padding: 20px 40px;
}

.top-section p {
  text-transform: uppercase;
  font-size: 11px;
  margin: 20px 0;
}

.top-section h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}

.image-card span {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.image-card svg {
    width: 10px;
    rotate: -90deg;
}

.bottom-section {
  display: flex;
  gap: 32px;
}

.number {
  font-size: 32px;
}

.number-desc {
  font-size: 13px;
  line-height: 20px;
}


.company-list {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.customer-heading {
  text-align: center;
}